* {
  font-family: "Helvetica Neue", sans-serif;
  color: #888;
}

.btn--default {
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  border: none;
  font-size: 0.8em;
  margin-top: 13px;
  margin-bottom: 13px;
}

.btn--success {
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  border: none;
  font-size: 0.8em;
  margin-top: 13px;
  margin-bottom: 13px;
}

.btn--error {
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  border: none;
  font-size: 0.8em;
  margin-top: 13px;
  margin-bottom: 13px;
}

.btn--warning {
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  border: none;
  font-size: 0.8em;
  margin-top: 13px;
  margin-bottom: 13px;
}

.btn--info {
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  border: none;
  font-size: 0.8em;
  margin-top: 13px;
  margin-bottom: 13px;
}

.theme__colors.btn--default {
  background-color: #51ddfc;
  height: 45px;
  align-items: center;
  border-radius: 5px;
}
.theme__colors.btn--success {
  background-color: #63cc82;
  height: 45px;
  align-items: center;
  border-radius: 5px;
}
.theme__colors.btn--error {
  background-color: #e4757a;
  height: 45px;
  align-items: center;
  border-radius: 5px;
}
.theme__colors.btn--warning {
  background-color: #fd7856;
  height: 45px;
  align-items: center;
  border-radius: 5px;
}
.theme__colors.btn--info {
  background-color: #927bc1;
  height: 45px;
  align-items: center;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .theme__colors {
    width: 18%;
  }
}
@media (min-width: 1302px) {
  .theme__colors {
    width: auto;
    padding: 0 50px;
  }
}

@media (min-width: 1302px) {
  .btn--default {
    margin-left: 30px;
  }
}

@media (min-width: 1302px) {
  .btn--info {
    margin-right: 30px;
  }
}

.forms {
  width: 100%;
}

.form__label--hidden {
  display: none;
}

.container {
  line-height: 1.5;
  font-size: 1.1em;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .container {
    width: 75%;
  }
}

.grid__row {
  margin-top: 43px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .grid__row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.grid__col--2 {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .grid__col--2 {
    margin: 7px;
  }
}

.grid__col--3 {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .grid__col--3 {
    margin: 7px;
  }
}

.grid__col--4 {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .grid__col--4 {
    margin: 7px;
  }
}

.grid__col--5 {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .grid__col--5 {
    margin: 7px;
  }
}

.grid__col--6 {
  flex: 6;
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .grid__col--6 {
    margin: 7px;
  }
}

.grid__col--7 {
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .grid__col--7 {
    margin: 7px;
  }
}

.grid__col--8 {
  flex: 8;
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .grid__col--8 {
    margin: 7px;
  }
}

.grid__col--9 {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .grid__col--9 {
    margin: 7px;
  }
}

.grid__col--10 {
  flex: 10;
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .grid__col--10 {
    margin: 7px;
  }
}

.grid__col--11 {
  flex: 11;
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .grid__col--11 {
    margin: 7px;
  }
}

.grid__col--12 {
  flex: 12;
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .grid__col--12 {
    margin: 7px;
  }
}

.theme__colors.grid__col--3 {
  background-color: #deb2ee;
  height: 45px;
  align-items: center;
  border-radius: 5px;
}
.theme__colors.grid__col--4 {
  background-color: #7ee6fd;
  height: 45px;
  align-items: center;
  border-radius: 5px;
}
.theme__colors.grid__col--5 {
  background-color: #deb2ee;
  height: 45px;
  align-items: center;
  border-radius: 5px;
}
.theme__colors.grid__col--6 {
  background-color: #3fabca;
  height: 45px;
  align-items: center;
  border-radius: 5px;
}
.theme__colors.grid__col--7 {
  background-color: #ec9fa3;
  height: 45px;
  align-items: center;
  border-radius: 5px;
}
.theme__colors.grid__col--8 {
  background-color: #fd9f85;
  height: 45px;
  align-items: center;
  border-radius: 5px;
}
.theme__colors.grid__col--12 {
  background-color: #80e8d1;
  height: 45px;
  align-items: center;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .theme__colors {
    justify-content: center;
  }
}

.centered {
  justify-content: center;
}

.img--frame,
.img--avatar {
  margin: 15px auto;
  display: block;
}

.img--frame {
  box-sizing: border-box;
  width: 100%;
  max-width: 435px;
  height: 100%;
  padding: 15px;
  border: 1px solid #ccc;
}

nav {
  flex: 1;
}
@media (min-width: 769px) {
  nav {
    flex: none;
  }
}
nav .nav {
  padding: 0;
}
@media (min-width: 769px) {
  nav .nav {
    display: flex;
  }
}
nav .nav .nav__item {
  display: flex;
  height: 50px;
  padding: 0;
  list-style: none;
  border-radius: 5px;
}
@media (min-width: 769px) {
  nav .nav .nav__item {
    height: 40px;
    justify-content: center;
    align-items: center;
  }
}
nav .nav .nav__item:active, nav .nav .nav__item:hover {
  background-color: #58e1c1;
}
nav .nav .nav__item a {
  display: flex;
  text-decoration: none;
  color: #888;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
nav .nav .nav__item a:active, nav .nav .nav__item a:hover {
  color: #fff;
}

.card {
  margin-top: 100px;
}

h1.headline--primary {
  color: #58e1c1;
  line-height: 1;
  font-size: 1.9em;
  margin-bottom: 35px;
  padding-left: 20px;
}

h4.headline--secondary {
  font-weight: normal;
}

.link {
  color: #51ddfc;
  text-decoration: none;
}

.blockquote {
  margin-top: 30px;
  padding-left: 25px;
  font-size: 1.3em;
  line-height: 1.2;
  font-style: italic;
  border-left: 10px solid #58e1c1;
  border-radius: 5px;
}

.card {
  margin-bottom: 80px;
}

/*# sourceMappingURL=styles.css.map */
