//=================================
//  Base
//=================================

:root {
  font-family: "Helvetica Neue", sans-serif;
  color: $color-text-dark;
}

.container {
  width: 85%;
  margin: 0 auto;
  @media (min-width: 769px) {
    width: 75%;
  }
}

// Navigation
nav {
  flex: 1;
//   padding: 0;
  //   justify-content: flex-end;
  @media (min-width: 769px) {
    flex: none;
  }
}
.nav {
  padding: 0;
  @media (min-width: 769px) {
    display: flex;
  }
  .nav__item {
    display: flex;
    height: 50px;
    width: 100%;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    @media (min-width: 769px) {
      height: 40px;
      justify-content: center;
      align-content: center;
    //   margin-left: 20px;
    //   margin-right: 20px;
    }
    &:active {
      background-color: $color-nav;
    }
  }
  a {
    text-decoration: none;
    color: $color-text-dark;
    margin: auto;
    padding: 0 20px;
  }
}

.grid__row {
  margin-top: 50px;
  box-sizing: border-box;
  @media (min-width: 769px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  @media (min-width: 769px) {

  }
  .grid__col--3 {
    display: flex;
    justify-content: center;
    @media (min-width: 769px) {
        // justify-content: flex-start;
        padding-left: 40px;
        flex: 3;
    }
    
  }
  .grid__col--9 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    @media (min-width: 769px) {
    //   padding-right: 40px;
    // flex: none;
      flex: 9;
      justify-content: center;
    }
  }
}
