//=================================
//  Variables
//=================================

$color-btn-default: #51ddfc;
$color-btn-success: #63cc82;
$color-btn-error: #e4757a;
$color-btn-warning: #fd7856;
$color-btn-info: #927bc1;

$color-nav: #58e1c1;
$color-headline-primary: #58e1c1;
$color-blockquote: #58e1c1;
$color-form-input: #58e1c1;

$color-link: #51ddfc;
$color-form-btn: $color-btn-default;

