//=================================
//  Buttons
//=================================

// .btn--default
// .btn--success
// .btn--error
// .btn--warning
// .btn--info
// .theme__colors

@each $btn, $color in $btns {
  .btn--#{$btn} {
    // margin: 10px;
    // text-transform: uppercase;
    // color: #fff;
    // width: 100%;
    // border: none;
    // font-size: 0.8em;
    @extend %button-mixin-buttons;
    // justify-content: space-evenly;

    @include mq($break-xl) {
      @include margin-hor(20px);
    }
  }
}

.theme__colors {
  @include button($btns, $button);
  @include mq($break-m) {
    flex-grow: 1;
    width: inherit;
  }
  @include mq($break-xl) {
    padding: 0 50px;
  }
}
