//=================================
//  Buttons
//=================================

// .btn--default
// .btn--success
// .btn--error
// .btn--warning
// .btn--info
// .theme__colors

@each $btn, $color in $btns {
  .btn--#{$btn} {
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    border: none;
    font-size: 0.8em;
    margin-top: 13px;
    margin-bottom: 13px;
  }
}

.theme__colors {
  @include button($btns, $button);
  @include mq($break-m) {
    width: 18%;
  }
  @include mq($break-xl) {
    width: auto;
    padding: 0 50px;
  }
}

.btn--default {
  @include mq($break-xl) {
    margin-left: 30px;
  }
}

.btn--info {
  @include mq($break-xl) {
    margin-right: 30px;
  }
}
