//=================================
//  Grids
//=================================

//     .container
//     .grid__row
//     .grid__col--2
//     .grid__col--3
//     .grid__col--4
//     .grid__col--5
//     .grid__col--6
//     .grid__col--7
//     .grid__col--8
//     .grid__col--9
//     .grid__col--10
//     .grid__col--11
//     .grid__col--12
//     .centered
//     .theme__colors

.container {
  line-height: 1.5;
  font-size: 1.1em;
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.grid__row {
  margin-top: 43px;
  box-sizing: border-box;

  @include mq($break-m) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@each $grid-width in $grid-widths {
  #{$grid}#{$grid-width} {
    flex: #{$grid-width};
    margin: 7px 0;
    justify-content: space-between;
    align-self: flex-start;
    @include mq($break-m) {
      @include flex;
      margin: 7px;
    }
  }
}

.theme__colors {
  @include button($themes, $grid);
  @include flex;
  padding-left: 10px;
  padding-right: 10px;

  @include mq($break-m) {
    justify-content: center;
  }
}

.centered {
  @include mq($break-m) {
    justify-content: center;
  }
}

.card {
  @include mq($break-m) {
    margin-right: 5%;
  }
}
