//=================================
//  Images
//=================================

// .img--logo
// .img--frame
// .img--avatar

.img--logo {
  display: block;
  margin: 0 auto;
}

.img--frame,
.img--avatar {
  margin: 15px auto;
  display: block;
}

.img--frame {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: 435px;
  padding: 15px;
  border: 1px solid #ccc;
}
