//=================================
//  Navigation
//=================================

// .nav__item

// Actual nav element
// nav {
// flex: 1;

// @media (min-width: 769px) {
//   flex: none;
// }

// ul child of nav element
.nav {
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 769px) {
    display: flex;
  }

  // li child of ul element
  .nav__item {
    display: flex;
    height: 50px;
    padding: 0 20px;
    list-style: none;
    border-radius: 5px;
    color: $color-text-dark;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 769px) {
      height: 40px;
      justify-content: center;
      align-items: center;
    }

    &:active,
    &:hover {
      background-color: $color-nav;
    }

    //  Nav links child of ul element
    * {
      display: flex;
      text-decoration: none;
      padding: 0 20px;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      &:active,
      &:hover {
        color: #fff;
      }
    }
  }
}
// }
