//=================================
//  Navigation
//=================================

// .nav__item

// ul child of nav element
.nav {
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  @include mq ($break-m) {
    display: flex;
  }

  @include mq ($break-l) {
    margin-left: 100px;
  }

  @include mq ($break-xl) {
    margin-left: 150px;
  }

  // li child of ul element
  .nav__item {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    list-style: none;
    border-radius: 5px;
    color: $color-text-dark;
    margin-left: 5px;

    @include mq ($break-m) {
      height: 40px;
      justify-content: center;
      align-items: center;
    }

    @include mq ($break-l) {
      margin-left: 25px;
    }

    &:active,
    &:hover {
      background-color: $color-nav;
    }

    &:first-child {
      background-color: $color-nav;
      color: #fff;
    }

    //  Nav links child of ul element
    * {
      display: flex;
      text-decoration: none;
      padding: 0 10px;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      &:active,
      &:hover {
        color: #fff;
      }
    }
  }
}
// }
