//=================================
//  Typography
//=================================

// .container
// .link
// .blockquote
// .headline--primary
// .headline--secondary

.headline--primary {
  color: $color-headline-primary;
  line-height: 1;
  font-size: 1.9em;
  margin-bottom: 35px;
  padding-left: 20px;
}

.headline--secondary {
  font-weight: normal;
  margin: 1.33em 0;
}

.link {
  color: $color-link;
  text-decoration: none;
  font-weight: bold;
}

.blockquote {
  margin-top: 30px;
  padding-left: 25px;
  font-size: 1.3em;
  line-height: 1.2;
  font-style: italic;
  border-left: 10px solid $color-blockquote;
  border-radius: 5px;

  @include mq($break-m) {
    padding-left: 40px;
  }
}
